*{
    margin: 0;
    padding: 0;
}
.banar_bg{
    background-color: #FCEAE8;
}
.btn_bg{
    background-color: #FF3D89;
    padding: 10px 24px;
    margin-top: 6px;
    border-radius: 7px;
    border: 1px solid #FF3D89;
    color: #fff;
}
.text_pink{
    color: #FF3D89;
}
.panda_footer{
    background-color: #fff;
    border: 0;
}
.panda-input{
    background-color: #fff;
    border: 0;
    padding: 11px 24px;
    border-radius: 4px;
}